## Create or Replace & CTAS
1. Difference between Create or Replace and Drop and Create Table statements
2. CTAS statement

### 1. Difference between Create or Replace and Drop and Create Table statements

In [0]:
DROP TABLE IF EXISTS demo.delta_lake.companies;

CREATE TABLE demo.delta_lake.companies
  (company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
   company_name STRING,
   founded_date DATE,
   country      STRING);

INSERT INTO demo.delta_lake.companies 
(company_name, founded_date, country)
VALUES ("Apple", "1976-04-01", "USA"),
       ("Microsoft", "1975-04-04", "USA"),
       ("Google", "1998-09-04", "USA"),
       ("Amazon", "1994-07-05", "USA"),
       ("Tencent", "1998-11-11", "China");

In [0]:
DESC HISTORY demo.delta_lake.companies;

#### Behaviour of the CREATE OR REPLACE statement

In [0]:
CREATE OR REPLACE TABLE demo.delta_lake.companies
  (company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
   company_name STRING,
   founded_date DATE,
   country      STRING);

INSERT INTO demo.delta_lake.companies 
(company_name, founded_date, country)
VALUES ("Apple", "1976-04-01", "USA"),
       ("Microsoft", "1975-04-04", "USA"),
       ("Google", "1998-09-04", "USA"),
       ("Amazon", "1994-07-05", "USA"),
       ("Tencent", "1998-11-11", "China");

In [0]:
DESC HISTORY demo.delta_lake.companies;

### 2. CTAS statement

In [0]:
CREATE TABLE demo.delta_lake.companies_china
AS
SELECT CAST(company_id AS INT) AS company_id,
       company_name,
       founded_date,
       country 
  FROM demo.delta_lake.companies
 WHERE country = 'China';

In [0]:
select * from demo.delta_lake.companies_china

In [0]:
ALTER TABLE demo.delta_lake.companies_china 
  ALTER COLUMN founded_date COMMENT 'Date the company was founded';

In [0]:
ALTER TABLE demo.delta_lake.companies_china 
  ALTER COLUMN company_id SET NOT NULL;

In [0]:
DESC EXTENDED demo.delta_lake.companies_china ;

In [0]:
DESC HISTORY demo.delta_lake.companies_china;